html {
    font-family: 'Averta';
    background-color: #002c75;
}
#typewriter {
    font-size: 40px;
    text-align: center;
    color: white;
}
h2 {
    color: white;
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Averta';
    src: url('http://hackclub.com/fonts/averta-regular.woff');
}